.head{
    text-transform: uppercase;
    text-align: center;
    color:blue;
}

.grid1{
    display: grid;
    grid-template-columns: 20% auto;
    max-width: 100%;
    height:100vh;
}

.nav{
    background-color: green;
    height:100vh;
}

.content{
    background-color: greenyellow;
    height:100vh;
}

#teachers{
    font-size:25px;
}